body {
  background: linear-gradient(
    90deg,
    rgba(1, 10, 28, 0.849) 0%,
    rgba(1, 55, 102, 0.836) 35%,
    rgba(69, 81, 188, 0.897) 100%
  );
  font-family: "Inter", sans-serif;
}

:root {
  --color-blue-1: rgba(1, 10, 28, 0.849);
  --color-blue-2: rgba(1, 55, 102, 0.836);
  --color-blue-3: #013766;
  --color-blue-4: rgba(69, 81, 188, 0.897);
  --color-gray-1: #6e8a9c;
  --color-gray-2: #272e34;
  --color-gray-3: #fff;
  --color-light: #ffffff;
}

.form_bg {
  height: 100vh;
}

.form_help {
  color: var(--color-gray-1);
  font-size: 15px;
  text-align: end;
}

.form_horizontal .title {
  color: var(--color-blue-3);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0 0 35px 0;
}

.form_horizontal .form-group {
  margin: 0 0 10px;
  position: relative;
}

.form_horizontal .form-control {
  color: #555;
  background-color: var(--color-gray-3);
  font-size: 13px;
  letter-spacing: 1px;
  height: 37px;
  padding: 2px 15px 2px;
  border: none;
  border-radius: 50px;
}

.form_horizontal .form-control::placeholder {
  color: var(--color-gray-1);
  font-size: 14px;
  text-transform: inter;
}

.btn-primary {
  width: 100%;
  border: none;
  border-radius: 50px;
  background: linear-gradient(
    90deg,
    rgba(1, 10, 28, 0.849) 0%,
    rgba(1, 55, 102, 0.836) 35%,
    rgba(69, 81, 188, 0.897) 100%
  );
}
